@using XConnectClientWebApp.Models
@model User

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Dashboard</h2>
            <p class="lead">Your XConnect Contact Record</p>
            <p>Details:</p>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Your Profile</h3>
        
    </div>
    <div class="col-md-4">
        <h3>Your Events</h3>
        
    </div>
</div>